{% extends "book_manager/layout.html" %} 
{% block body %}
<h1 class="content-title">Books</h1>

<div class="row">
  {% for book in books %}
    <div class="col-12 col-sm-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-body">
          {% if book.cover_image %}
            <img src="{{ book.cover_image }}" alt="{{ book.title }}" class="img-fluid mb-10 w-full rounded">
          {% endif %}
          <h4 class="card-title">{{ book.title }}</h4>
          <p class="text-muted">By {{ book.author.name }}</p>
          <p class="card-text">{{ book.description|truncatewords:30 }}</p>
        </div>
        <!-- Actions buttons -->  
        <div class="d-flex justify-content-between align-items-center mt-1 p-3">
          <div class="d-flex align-items-center gap-2 ">
            <!-- Like button -->
            <div class="d-flex align-items-center">
              <button class="btn text-danger p-0 me-2 like-button" data-book-id="{{ book.id }}">
                {% if book.is_liked %}
                  <i class="fas fa-heart text-danger"></i>
                {% else %}
                  <i class="far fa-heart"></i>
                {% endif %}
              </button>
              <span class="likes-count">{{ book.likes_count }}</span>
            </div>
            <!-- Reading list button -->
            <button class="btn text-warning p-0 reading-list-button" data-book-id="{{ book.id }}">
              {% if book.in_reading_list %}
                <i class="fas fa-bookmark"></i>
              {% else %}
                <i class="far fa-bookmark"></i>
              {% endif %}
            </button>
          </div>
          <!-- View button -->
          <a href="{% url 'book' book.id %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="text-center mt-20">
  <div class="btn-group" role="group">
    {% if books.has_previous %}
      <a href="?page={{ books.previous_page_number }}" class="btn btn-secondary">Previous</a>
    {% endif %}
    
    <button class="btn btn-secondary" disabled>
      Page {{ books.number }} of {{ books.paginator.num_pages }}
    </button>
    
    {% if books.has_next %}
      <a href="?page={{ books.next_page_number }}" class="btn btn-secondary">Next</a>
    {% endif %}
  </div>
</div>
{% endblock %}