{% extends "book_manager/layout.html" %} 
{% block body %}

<div class="container mt-4">
  <div class="row">
      <!-- Cover Image Column -->
      <div class="col-md-4">
          {% if book.cover_image %}
              <img src="{{ book.cover_image }}" alt="{{ book.title }} cover" class="img-fluid rounded">
          {% else %}
              <div class="placeholder-image bg-secondary p-5 rounded text-center text-white">
                  No Cover Available
              </div>
          {% endif %}
      </div>

      <!-- Book Details Column -->
      <div class="col-md-8">
          <h1>{{ book.title }}</h1>
          
          <div class="mb-3">
              <h4>Author</h4>
              <p>{{ book.author.name }}</p>
          </div>

          {% if book.description %}
          <div class="mb-3">
              <h4>Description</h4>
              <p>{{ book.description }}</p>
          </div>
          {% endif %}

          {% if book.published_date %}
          <div class="mb-3">
              <h4>Published Date</h4>
              <p>{{ book.published_date|date:"F j, Y" }}</p>
          </div>
          {% endif %}

          {% if book.genre %}
          <div class="mb-3">
              <h4>Genre</h4>
              <p>{{ book.genre }}</p>
          </div>
          {% endif %}

          <div class="mb-3">
              <h4>Added by</h4>
              <p><i>{{ book.user.username }}</i> on {{ book.created_at|date:"F j, Y" }}</p>
          </div>

          {% if user == book.user %}
          <div class="mt-4">
              <a href="{% url 'edit_book_page' book.id %}" class="btn btn-secondary">Edit Book</a>
          </div>
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}
