{% extends "book_manager/layout.html" %} 
{% block body %}

<div class="container mt-4">
  <div class="row">
      <!-- Cover Image Column -->
      <div class="col-md-4">
          {% if book.cover_image %}
              <img src="{{ book.cover_image }}" alt="{{ book.title }} cover" class="img-fluid rounded">
          {% else %}
              <div class="placeholder-image bg-secondary p-5 rounded text-center text-white">
                  No Cover Available
              </div>
          {% endif %}
      </div>

      <!-- Book Details Column -->
      <div class="col-md-8">
          <h1>{{ book.title }}</h1>
          
          <div class="mb-3">
              <h4>Author</h4>
              <p>{{ book.author.name }}</p>
          </div>

          {% if book.description %}
          <div class="mb-3">
              <h4>Description</h4>
              <p>{{ book.description }}</p>
          </div>
          {% endif %}

          {% if book.published_date %}
          <div class="mb-3">
              <h4>Published Date</h4>
              <p>{{ book.published_date|date:"F j, Y" }}</p>
          </div>
          {% endif %}

          {% if book.genre %}
          <div class="mb-3">
              <h4>Genre</h4>
              <p>{{ book.genre }}</p>
          </div>
          {% endif %}

          <div class="mb-3">
              <h4>Added by</h4>
              <p><i>{{ book.user.username }}</i> on {{ book.created_at|date:"F j, Y" }}</p>
          </div>

          {% if user == book.user %}
          <div class="mt-4">
              <a href="{% url 'edit_book_page' book.id %}" class="btn btn-secondary">Edit Book</a>
              <button class="btn btn-danger" data-book-id="{{ book.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fa fa-trash"></i>
              </button>
          </div>
          {% endif %}
      </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete "{{ book.title }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger delete-button" data-book-id="{{ book.id }}">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
