{% extends "book_manager/layout.html" %}

{% block body %}
    <div class="specific-w-300 mw-100 mx-auto">
        <h2 class="text-center">Register</h2>

    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" required name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email Address</label>
            <input class="form-control" type="email" required name="email" placeholder="Email Address">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" required name="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirmation">Confirm Password</label>
            <input class="form-control" type="password" required name="confirmation" placeholder="Confirm Password">
        </div>
        <button class="btn btn-primary mb-3" type="submit">Register</button>
        <p >Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </form>
    </div>
{% endblock %}